<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="../static/style/output.css" />
    {% block head %}{% endblock %}
  </head>
  <body
    class="content-center justify-center p-2 m-2 font-mono text-white bg-neutral-800 w-auto text-center"
  >
    {% block body %} {% endblock %}
  </body>

  {% for file in js_files %}
  <script src="{{ url_for('static', filename='js/' + file) }}"></script>
  {% endfor %}
</html>
