<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DWM APP</title>
    <link rel="stylesheet" href="../static/style/output.css" />
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body class="p-4 m-4 font-mono text-white bg-slate-700">
    <h1 class="text-2xl font-black text-white">
      Welcome to the Dragon Warrior Monsters 2 App
    </h1>
    <div id="familyImagesContainer" class="flex mt-2"></div>
    <div>
      <label for="familyDropdown">Select Family:</label>
      <select id="familyDropdown" class="p-2 rounded-md bg-slate-800">
        <option value="">All Families</option>
      </select>

      <label for="monsterDropdown">Select Monster:</label>
      <select id="monsterDropdown" class="p-2 rounded-md bg-slate-800">
        <option value="">All Monsters</option>
      </select>
      <div id="modules" class="flex mt-4">
        <iframe
          id="monsterIframe"
          src=""
          class="pl-2 pr-2 ml-4 border-2 border-teal-500 rounded-md"
          height="456"
          width="272"
        ></iframe>

        <iframe
          id="breedingIframe"
          src=""
          class="p-2 ml-4 border-2 border-teal-500 rounded-md"
          height="200"
          width="272">
        </iframe>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breeding.js') }}"></script>
  </body>
</html>
