<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills Data</title>
  </head>
  <body>
    <h1>Skills Data</h1>
    <table border="1">
      <tr>
        {% for key in csv_data[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
      {% for row in csv_data %}
      <tr>
        {% for value in row.values() %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
